@import "../../../mixins/_responsive"

.footer
  padding 3em 0
  a
    display flex
    align-items center
    justify-content center
    font-size 1.5em
    text-decoration none
    color #000
    +mobile()
      font-size 1em
  svg
    margin-right .5em
