@import "../../../../mixins/_responsive";

.footer {
  padding: 3em 0;
  a {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    text-decoration: none;
    @include mobile() {
      font-size: 1em;
    }
  }
  svg {
    margin-right: .5em;
  }
}
