@import "../../../mixins/_responsive";

.slide-item {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .3s;
  &.actived {
     opacity: 1;
     z-index: 1;
     h1 {
      animation: 3s opacityDelay;
    }
  }
  a {
    color: #000;
    text-decoration: none;
  }
  img, a {
    min-width: 100%;
  }
  h1 {
    background: rgba(#fff, .7);
    box-sizing: border-box;
    font-size: 3em;
    left: 50%;
    margin: 0;
    padding: .5em;
    position: absolute;
    text-align: center;
    top: 1em;
    transform: translate(-50%, 50%);
    width: 100%;
    z-index: 1;
    @include tablet() {
      font-size: 3em;
    }
  }
}

@keyframes opacityDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
