@import "../mixins/_responsive"

@font-face
  font-family "Deus"
  src url(https://rimafavela.web.app/fonts/deus.0ea8c3f0.ttf),url(https://rimafavela.web.app/fonts/deus.87fcee5b.woff2),url(https://rimafavela.web.app/fonts/deus.94931b27.woff)

body
  margin 0
  padding 0
.app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  margin-top 60px
  h1
    font-size 3em
    +mobile()
      font-size 2em

.slide-title, h3
  display flex
  align-items center
  justify-content center
  svg
    margin-right .5em

.slide-title
  font-size 2em
  margin 2em 0
  border-top 3px dashed #ccc
  padding-top 2em
  color #dd0031
  +mobile()
    font-size 1em
  svg
    fill #dd0031
.favela
  h1
    font-family "Deus"
  img
    filter saturate(2) brightness(1.2)
