nav {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#nav a {
  padding: 1rem 1.5rem 1rem 1rem;
  margin: 0.5rem;
  background: #eee;
  color: #2c3e50;
  border-radius: 10px;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav a svg {
  width: 25px;
  margin-right: 0.5rem;
  outline: none;
  fill: #2c3e50;
}

#nav a.active {
  background: #dd0031;
  color: #fff;
}

#nav a.active svg {
  fill: #fff;
}
